body{
	margin-left: 95px;
	margin-top: 145px;
}

h1{
	font-size: 45px;
	font-weight: 800;
	background: green;
	color: #fff;
	margin-bottom: 3px;
	width: 505px;
	padding: 7px;
	border-radius: 10px;
}

.calculator{
	margin-top: 30px; 
}

input{
	width: 250px;
	margin: 2px 0px;
	font-size: 20px;
	text-align: center;
}
#user-month{
	width: 195px;
	height: 45px;
	text-align: center;
}
#user-day{
	width: 195px;
	height: 45px;
	text-align: center;
}
#user-year{
	width: 195px;
	height: 45px;
	text-align: center; 
}

#submit-date{
	width: 605px;
	height: 55px;
	margin-top: 30px;
	padding: 10px;
	border: none;
	border-radius: 2px;
	font-size: 18px;
	background: #27ACD9;
	font-weight: 500;
	color: #fff;

}

#message{
	margin: 20px 0px;
	font-size: 50px;
	font-weight: 800;
}

#submit-date:hover{
	background: purple;
}

#spacer{
	padding-top: 30px;
}






























